@import "./vars.scss";

.settings {
	position: fixed;
	width: $settings-width;
	height: 100vh;
	left: 100%;
	top: 0;
	display: block;
	background-color: $settings-bgc;
	box-shadow: 0px 4px 50px rgba(0,0,0,0.15);
	padding: 30px;
	&.open {
		left: calc(100% - #{$settings-width})
	}

	.wrapper {
		width: 100%;
		height: 100%;
		display: inline-block;
		overflow: auto;
	}
}
