//MAIN
$main-bgc: rgba(255, 234, 167,1.0);
$text-color: rgba(45, 52, 54,1.0);
$monitor-width: 600px;
$title-color: rgba(214, 48, 49,1.0);

//SETTINGS
$settings-width: 500px;
$settings-bgc: #fff;
$settings-apply-bgc: darken(#55efc4, 5%);
$settings-apply-color: white;

// menu-button
$menu-button-size: 50px;
$menu-button-color: rgba(90,90,90,1);
$menu-button-bgc: white;

//TOOLS
$tools-bgc: #fff;
$tools-width: 100px;
$tools-padding: 14px;
$tools-slide-transition: 0.2s;
$tools-tool-margin: 4px;
$tools-tool-border-color: $text-color;

//TILES
$tile-size: 100px;
$tile-margin: 8px;
$tiles-list-padding: 6px;

$button-padding: 8px 12px;
$button-save-bgc: rgba(0, 206, 201,1.0);
$button-add-bgc: rgba(0, 184, 148,1.0);
$button-output-bgc: rgba(225, 112, 85,1.0);
